html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DynaPuff', cursive !important;

}

* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #ffffff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffc107;
    border-radius: 10px;

}

a.cta {
    color: #ffffff;
    background-color: #F16767;
}

a.cta:hover {
    color: #ffffff;
    background-color: #db5b5b;
    transition: 0.2s;
}

#back-to-top {
    display: inline-block;
    background-color: #F16767;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    z-index: 1000;
    display: none;
}


#back-to-top:hover {
    cursor: pointer;
    background-color: #ef3a3a;
}

#back-to-top:active {
    background-color: #ff0000;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}

.navbar-1-1.navbar-light .navbar-nav .nav-link {
    transition: 0.3s;
    text-align: center;
}

.navbar-1-1.navbar-light .navbar-nav .nav-link:hover {
    color: #FFB84C;
}

.row>.col-sm-6 {
    flex: 0 0 auto;
    width: 33%;
}


.section-team {
    padding: 80px 0;
}

.section-team .header-section {
    margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
    margin-top: 30px;
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 5px;
}

.section-team .single-person:hover {
    background: linear-gradient(to right, #016cec, #00b5f7);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
    width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
    background: none;
    background-color: #fff;
    color: #016cec;
}

.section-team .single-person .person-info .full-name {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person .person-info .speciality:hover {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
    color: #fff;
}

.person-image {
    width: 150px;
}

@media (max-width: 918px) {
    .row>.col-sm-6 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 767px) {
    .navbar-1-1.navbar-light .navbar-nav .nav-link {
        color: #000000;
        transition: 0.3s;
    }

    .navbar-1-1.navbar-light .navbar-nav .nav-link:hover {
        color: #FFB84C;
    }

    .hero-text {
        margin-top: 130px !important;
    }
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 767px) {
    .waves-hero {
        display: none;
    }
}

.navbar-1-1.navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
}


.img-header {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
}

.btn-color-theme {
    color: white !important;
    background-color: #d53333 !important;
    font-family: 'Sniglet', cursive !important;
    transition: 0.3s;
}

.btn-color-theme:hover {
    color: white !important;
    background-color: #ff0000 !important;
    font-family: 'Sniglet', cursive !important;
    transition: 0.3s;
}

.tape {
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 1em .5em hsla(0, 0%, 100%, .1);
    height: 3em;
    position: absolute;
    margin-left: -2em;
    transform: rotate(-30deg);
    width: 9em;
    -webkit-filter: drop-shadow(0 1px 1px rgba(255, 0, 0, 0.3));
}

.tape:after,
.tape:before {
    background-size: .4em .4em;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: .2em;
}

.tape:after {
    background-image: linear-gradient(45deg, transparent 50%, rgba(255, 0, 0, 0.3) 50%),
        linear-gradient(-45deg, transparent 50%, rgba(255, 0, 0, 0.3) 50%);
    background-position: 0 100%;
    left: -.2em;
}

.tape:before {
    background-image: linear-gradient(135deg, transparent 50%, rgba(255, 0, 0, 0.3) 50%),
        linear-gradient(-135deg, transparent 50%, rgba(255, 0, 0, 0.3) 50%);
    background-position: 100% 100%;
    right: -.2em;
}

.text-caption {
    font-family: 'Sniglet', cursive;
    font-size: 18px;
    line-height: 2.5rem;
    color: #646464;
}

.borders {
    height: 475px;
    width: 95%;
    background: transparent;
    border-radius: 10px;
    transition: 1s;
    position: relative;
}

.card-body>h1 {
    color: #000;
}

.card-body>p {
    color: #000;
}

.card-text-caption {
    font-family: 'Sniglet', cursive;
}